header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

div {
  border: 1px solid black;
}
.logo {
  color: MediumAquamarine;
}

.main-content {
  display: flex;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
