body {
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: white;
  flex-wrap: nowrap;
  align-items: center;
}

/*
div {
  border: 1px solid black;
}
*/

.logo {
  display: flex;
  color: MediumAquamarine;
  padding-left: 30px;
  flex-grow: 1;
  align-items: center;

}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav a {
  color: black;
  justify-content: space-around;
  padding: 20px 10px;
}


.main-content {
  display: flex;
  padding-top: 116px;
  width: 1266;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-right: 32px;
  }

.column.large {
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  width: 630px;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.lead-story {
  display: flex;
  flex-flow: column wrap;
  width: 630px;
}

.image-content {
  margin-top: 15px;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.lead-story .image-content {
  background-image: url("../img-story-main.png");
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.lead-story p {
  margin-top: 16px;
}

.story {
  width: 300px;
  flex-direction: column;
}

.lead-story,
.story,
.news-bites {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-content.earth {
  background-image: url("../img-story-2.png");
}

.image-content.cameras {
  background-image: url("../img-story-3.png");
}

.cats-in-control.story .image-content {
  background-image: url("../img-story-1.png");
}

.news-bites {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.column.small h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites li {
  display: block;
  /* Instructions state a top and bottom border, but only show bottom border in demo.
  border-top: 1px solid black; */
  border-bottom: 1px solid black;
  padding: 11px 20px;

  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}
