header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-content: center;
  position: fixed;
  width: 100%;
  background-color: white;
  flex-wrap: nowrap;
}

div {
  border: 1px solid black;
}

.logo {
  color: MediumAquamarine;
  width: 700px;
  padding-left: 30px;

}

.logo img {
  margin-right: 12px;
}

.navigation {
  justify-content: space-around;
}

.main-content {
  display: flex;
  padding-top: 116px;
}

.column {
  display: flex;
  margin-right: 32px;
}
.column.large {
  width: 630px;
  flex-flow: row wrap;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.lead-story {
  justify-content: center;
  min-width: 630px;
}

.lead-story .image-content {
  background-image: url("../img-story-main.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story .image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story {
  display: block;
}
.story p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories .image-content {
  height: 300px;
}

.stories .image-content .earth {
  background-image: url("../img-story-1.png");
}

.stories .image-content .cameras {
  background-image: url("../img-story-2.png");
}
.image-content .cat-title {
  background-image: url("../img-story-3.png");
}
